{% extends "base.html" %}
{% block head %}
    <script src="/static/jquery-1.11.0.min.js"></script>
{% endblock %}
{% block title %}data in the mines{% endblock %}
{% block header %}<h1>data in the mines</h1>{% endblock %}
{% block content %}

<menu type="toolbar">
    <select class="exampleapp_nav" name="section" >
    {% for s in sections %}
        <option value="{{ s }}"{% if s == section %} selected="true"{% endif %}>{{ s }}</option>
    {% endfor %}
    </select>

    {% if periods %}
    <select class="exampleapp_nav" name="period">
    {% for p in periods %}
        <option value="{{ p }}"{% if p == period %} selected="true"{% endif %}>{{ p }}</option>
    {% endfor %}
    </select>
    {% endif %}

    {% if report_ids %}
    <select class="exampleapp_nav" name="report_id">
    {% for r in report_ids %}
        <option value="{{ r }}"{% if r == report_id %} selected="true"{% endif %}>{{ r }}</option>
    {% endfor %}
    </select>
    {% endif %}

    {% if report_dates %}

    <select class="exampleapp_nav" name="date">
    {% for d in report_dates %}
        <option value="{{ d }}"{% if d == report_date %} selected="true"{% endif %}>{{ d }}</option>
    {% endfor %}
    </select>
    {% endif %}
</menu>

<div id="report_content">
    {% if report_template %}
        {% include report_template %}
    {% endif %}
</div>

<script>

$(".exampleapp_nav").change(function() {
    var selected_name =  $(this).attr("name");
    var redirect_path = ["{{ditm_path}}"];
    $(".exampleapp_nav").each(function() {
        if ($(this).val()) {
            redirect_path.push($(this).val());
        }
        else {
            return false;
        }
        if (selected_name == $(this).attr("name")) {
            return false;
        }
    })
    // console.log('redirect to ' + window.location.href);
    window.location = redirect_path.join("/");
});

</script>
{% endblock %}
