{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ ditm_path }}/static/ditm.css">
    <script src="{{ ditm_path }}/static/ditm.js"></script>
{% endblock %}
{% block title %}data in the mines{% endblock %}
{% block header %}<h1>data in the mines</h1>{% endblock %}
{% block content %}

<menu type="toolbar">
    <select name="section" >
    {% for s in sections %}
    <option value="{{ s }}"{% if s == section %} selected="true"{% endif %}>{{ s }}</option>
    {% endfor %}
    </select>

    {% if periods %}
    <select name="period">
    {% for p in periods %}
    <option value="{{ p }}"{% if p == period %} selected="true"{% endif %}>{{ p }}</option>
    {% endfor %}
    </select>
    {% endif %}

    {% if report_ids %}
    <select name="report_id">
    {% for r in report_ids %}
    <option value="{{ r }}"{% if r == report_id %} selected="true"{% endif %}>{{ r }}</option>
    {% endfor %}
    </select>
    {% endif %}

    {% if report_dates %}
    <select name="date">
    {% for d in report_dates %}
    <option value="{{ d }}"{% if d == report_date %} selected="true"{% endif %}>{{ d }}</option>
    {% endfor %}
    </select>
    {% endif %}
</menu>


{% endblock %}
