{% extends "base.html" %}

{% block title %}example data-in-the-mines app{% endblock %}

{% block header %}<h1>example data-in-the-mines app</h1>{% endblock %}

{% block content %}
<p>
Hello.
</p>

<p>
data-in-the-mines, or ditm, provides a framework for periodically creating
reports from your data sources, with the primary goal of automating data
discovery reports and providing a window onto the data in the mines.
</p>

<p>
This example app illustrates how data-in-the-mines integrates with any Flask
web app, and provides a web interface to the example reports.

data-in-the-mines is not inherently reliant on Flask, I chose it for the
example implementation for its simplicity.
</p>

<p>
Personally, I am also using the project to explore the machine learning and
graphing abilities of R and some of the datasets that come with it while I
begin to learn that language, and to familiarize myself with the available
data analysis libraries for Python.

I am largely interested in data mining from an engineer's perspective, and
just happen to find programming to be an efficacious method of study.
</p>

<p>
Visit the <a href="/datamines">data mines</a>.
</p>
{% endblock %}
